.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: inset tomato;
    background-color: black;
}
