@import "./details.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #f5f5dc;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.5;
}

body {
    background-color: black;
    background-image: url(/images/background.jpg);
    background-size: cover;
}

h1 {
    font-family: "Patua One", serif;
    text-align: center;
    letter-spacing: 2px;
    border: 6px inset tomato;
    background-color: black;
}

h2,h3,h4,h5,h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
  }

.bv {
    font-size: 2rem;
    list-style-type: disc;
}

.bv li {
    list-style-type: disc; 
    padding-left: 20px; 
}

.bookings {
    font-size: 2rem;
    list-style-type: disc;
    
}

.bookings li {
    list-style-type: disc; 
    padding-left: 20px; 
}